**/*.dat
**/.idea
*.so
*/.ipynb_checkpoints/*
cDCGAN/checkpoints/**
Adhoc_generator/Images/*.jpg
*/__pycache__/*
*/build/*
cluster_manual.txt
**/__pycache__/**
RandomForest/np_out/**
utils/_compute_hist.c
Adhoc_generator/Images/images_unzipped/**
AE_plus_KMeans/checkpoints/**
AE_plus_KMeans/clustered_images/**
Classifier/archived_checkpoints/**
Classifier/checkpoints/**
DCGAN/generated/Thumbs.db
DCGAN/ckpt/**
VAE_stars/ckpt_generative/**
images/**
