**/*.dat
**/.idea
cDCGAN/checkpoints/**
Adhoc_generator/Images/*.jpg
Adhoc_generator/.ipynb_checkpoints/*
*/__pycache__/*
**/build/**
cluster_manual.txt
**/__pycache__/**
RandomForest/np_out/**
RandomForest/_compute_hist.c
RandomForest/*so
Adhoc_generator/Images/images_unzipped/**
AE_plus_KMeans/checkpoints/**
AE_plus_KMeans/clustered_images/**
Classifier/archived_checkpoints/**
